#banner-name {
    overflow: hidden;
    font-size: 3rem;
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    margin-top: auto;

    text-align: center;
}

.prompt-container {
    height: 600px;
    background-color: #8A8A8AAA;
    border-radius: 0.5em;
    padding:0;

}
.upload {
    height: 100%;
    width: 100%;
}
form {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(10, 10%);
}

#upload-name-label {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin: 10%;
}

#upload-name-input {
    text-align: center;
    height: 90%;
    grid-column: 2/3;
    grid-row: 2/3;
}

#upload-artist-label{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    margin: 10%;
}
#upload-artist-input {
    text-align: center;
    height: 90%;
    grid-column: 2/3;
    grid-row: 3/4;
}


#upload-album-label {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    margin: 10%;
}
#upload-album-input {
    text-align: center;
    height: 90%;
    grid-column: 2/3;
    grid-row: 4/5;
}

#upload-file-label {
    visibility: hidden;
    grid-column: 1/2;
    grid-row: 5/6;
    text-align: center;
}
#upload-file {
    visibility: hidden;
    text-align: center;
    grid-column: 2/3;
    grid-row: 5/6;
}
.simple-file-upload {
    grid-column: 2/3;
    grid-row: 5/6;
    overflow: hidden;
}
iframe {
    grid-column: 2/3;
    grid-row: 5/6;
    overflow: hidden;
}


#submit-btn {
    grid-column: 2/3;
    grid-row: 7/8;
}

#cancel-btn {
    grid-column: 2/3;
    grid-row: 8/9;
}
